// .inputContainer
// {
//     width: 100%;
//     border: 1px solid black;
//     border: 2px solid gray;
//     padding: 1rem;
    .input
    {
        height: inherit;
        width: inherit;
        border: none;
        outline: none;
        font-size: 1rem;
        width: 100%;
        
        padding: 1rem;
    }
// }